# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Firebase
firebase_options.dart

# VS Code
.vscode/

# Windows
windows/

# Firebase service account key – keep this out of VCS
/scripts/sleepdreamsocialapp-firebase-adminsdk-fbsvc-5ccda48a60.json

# Node modules
node_modules/
scripts/node_modules/
